.xfly-example {
    font-family: inherit!important;
    background: #f7f7f7;
}
.xfly-example .project-intro {
    opacity: 0;
}
.xfly-example header {
    background: #000;
}
.xfly-example header h1 {
    color: #fff;
}

.xfly-example-inner {
    padding-top: 200px;
    padding-bottom: 200px;
}

.xfly-example-inner a,
.xfly-example-inner .sign-in,
.xfly-example-inner .sign-out {
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    border: none;
    color: inherit;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .1);
    background-color: white;
    margin-top: 16px;
    text-decoration: none;
}

.xfly-example-inner .sign-in,
.xfly-example-inner .sign-out {
    width: 100%;
    background: #4d90fe;
    color: white;
}

.weui-toast__content {
    color: white;
}

/*header {*/
    /*background: black;*/
    /*color: white;*/
    /*height: 3.2rem;*/
    /*line-height: 3.2rem;*/
    /*text-align: center;*/
    /*font-size: 1.8rem;*/
/*}*/

/*header h1 {*/
    /*display: inline-block;*/
    /*font-size: 2.2rem;*/
    /*line-height: 30px;*/
    /*height: 30px;*/
    /*margin: auto;*/
    /*width: 100%;*/
/*}*/

.src-expand {
    transform: translateY(40%);
    display: inline-block;
    border-radius: 4px;
    background: #fff;
    /* float: right; */
    font-size: 12px;
    padding: 4px 8px;
    /*margin: 15px;*/
    font-style: normal;
    color: #000;
    right: 0;
    text-decoration: none;
}